In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import random, os, sys
from datetime import datetime
import time

In [2]:
# Loading the data set using pandas
df=pd.read_csv("indian_liver_patient.csv", sep=',')

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [5]:
df.shape

(583, 11)

In [6]:
#To check the data types
df.dtypes

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

In [7]:
#To show the total NULL Values present in the NULL Valued fields
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [8]:
fill = df['Albumin_and_Globulin_Ratio']
Albumin_and_Globulin_Ratio = fill.fillna(fill.median(),inplace=True)

# H2O

In [9]:
import h2o
from h2o.automl import H2OAutoML
import random, os, sys
from datetime import datetime
import pandas as pd
import logging
import csv
import optparse
import time
import json
from distutils.util import strtobool
import psutil

import warnings
warnings.filterwarnings('ignore')

In [10]:
port_no=random.randint(5555,55555)
h2o.init(strict_version_check=False,min_mem_size_GB=5,port=port_no)

Checking whether there is an H2O instance running at http://localhost:27586 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
  Starting server from C:\Users\Manvi\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Manvi\AppData\Local\Temp\tmpwqj9xz_a
  JVM stdout: C:\Users\Manvi\AppData\Local\Temp\tmpwqj9xz_a\h2o_Manvi_started_from_python.out
  JVM stderr: C:\Users\Manvi\AppData\Local\Temp\tmpwqj9xz_a\h2o_Manvi_started_from_python.err
  Server is running at http://127.0.0.1:27586
Connecting to H2O server at http://127.0.0.1:27586 ... successful.

--------------------------  ------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.24.0.1
H2O cluster version age:    20 days
H2O cluster name:           H2O_from_python_Manvi_blojro
H2O cluster total nodes:    1
H2O cluster free memory:    4.792 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:27586
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.6.7 final
--------------------------  ------------------------------------------

In [11]:
#importing data to the server
df = h2o.import_file(path="indian_liver_patient.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [12]:
df.head()

Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
65,Female,0.7,0.1,187,16,18,6.8,3.3,0.9,1
62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
62,Male,7.3,4.1,490,60,68,7,3.3,0.89,1
58,Male,1,0.4,182,14,20,6.8,3.4,1,1
72,Male,3.9,2,195,27,59,7.3,2.4,0.4,1
46,Male,1.8,0.7,208,19,14,7.6,4.4,1.3,1
26,Female,0.9,0.2,154,16,12,7,3.5,1,1
29,Female,0.9,0.3,202,14,11,6.7,3.6,1.1,1
17,Male,0.9,0.3,202,22,19,7.4,4.1,1.2,2
55,Male,0.7,0.2,290,53,58,6.8,3.4,1,1

In [13]:
df.isna()

isNA(Age),isNA(Gender),isNA(Total_Bilirubin),isNA(Direct_Bilirubin),isNA(Alkaline_Phosphotase),isNA(Alamine_Aminotransferase),isNA(Aspartate_Aminotransferase),isNA(Total_Protiens),isNA(Albumin),isNA(Albumin_and_Globulin_Ratio),isNA(Dataset)
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0

In [14]:
target = 'Dataset'
run_time=1000
pct_memory=0.5
server_path=None 
data_path=None
all_variables=None
test_path=None
model_path=None
nthreads=1 
name=None 
virtual_memory=psutil.virtual_memory()
min_mem_size=int(round(int(pct_memory*virtual_memory.available)/1073741824,0))
run_id='SOME_ID_20180617_221529' # Just some arbitrary ID
classification=True
scale=False
max_models=None
balance_y=False # balance_classes=balance_y
balance_threshold=0.2
project ="automl_test"
analysis=0

In [15]:
def alphabet(n):
  alpha='0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'    
  str=''
  r=len(alpha)-1   
  while len(str)<n:
    i=random.randint(0,r)
    str+=alpha[i]   
  return str


def set_meta_data(analysis,run_id,server,data,test,model_path,target,run_time,classification,scale,model,balance,balance_threshold,name,path,nthreads,min_mem_size):
  m_data={}
  m_data['start_time'] = time.time()
  m_data['target']=target
  m_data['server_path']=server
  m_data['data_path']=data 
  m_data['test_path']=test
  m_data['max_models']=model
  m_data['run_time']=run_time
  m_data['run_id'] =run_id
  m_data['scale']=scale
  m_data['classification']=classification
  m_data['scale']=False
  m_data['model_path']=model_path
  m_data['balance']=balance
  m_data['balance_threshold']=balance_threshold
  m_data['project'] =name
  m_data['end_time'] = time.time()
  m_data['execution_time'] = 0.0
  m_data['run_path'] =path
  m_data['nthreads'] = nthreads
  m_data['min_mem_size'] = min_mem_size
  m_data['analysis'] = analysis
  return m_data


def automl(maxruntime,X,Y,df):
    aml = H2OAutoML(max_runtime_secs=maxruntime,exclude_algos = ['DeepLearning', 'StackedEnsemble'])
    aml.train(x=X,y=y,training_frame=df)
    return aml


def dict_to_json(dct,n):  
    j = json.dumps(dct, indent=4)
    f = open(n, 'w')
    print(j, file=f)
    f.close()

In [16]:
run_id=alphabet(9)
if server_path==None:
  server_path=os.path.abspath(os.curdir)
os.chdir(server_path) 
run_dir = os.path.join(server_path,run_id)
os.mkdir(run_dir)
os.chdir(run_dir)    

# run_id to std out
print (run_id)

uh5qmPqcn

In [17]:
# meta data
meta_data = set_meta_data(analysis, run_id,server_path,data_path,test_path,model_path,target,run_time,classification,scale,max_models,balance_y,balance_threshold,name,run_dir,nthreads,min_mem_size)
print(meta_data)

{'start_time': 1555886064.3386967, 'target': 'Dataset', 'server_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records', 'data_path': None, 'test_path': None, 'max_models': None, 'run_time': 1000, 'run_id': 'uh5qmPqcn', 'scale': False, 'classification': True, 'model_path': None, 'balance': False, 'balance_threshold': 0.2, 'project': None, 'end_time': 1555886064.3386967, 'execution_time': 0.0, 'run_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records\\uh5qmPqcn', 'nthreads': 1, 'min_mem_size': 0, 'analysis': 0}

In [18]:
y = target
X=[name for name in df.columns if name != y]
print(X)
print(y)

['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio']
Dataset

In [19]:
meta_data['X']=X  
model_start_time = time.time()

In [21]:
if analysis == 3:
  classification=False
elif analysis == 2:
  classification=True
elif analysis == 1:
  classification=True

In [22]:
if classification:
    df[y] = df[y].asfactor()

In [23]:
classification=True
if classification:
    print(df[y].levels())

[['1', '2']]

# Runtime: 800sec

In [24]:
aml4 = automl(1000,X,y,df)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [25]:
meta_data['run_time'] = 1000
meta_data['end_time'] = time.time()
meta_data['execution_time'] = meta_data['end_time'] - meta_data['start_time']

In [26]:
aml4.leaderboard

model_id,auc,logloss,mean_per_class_error,rmse,mse
XRT_1_AutoML_20190421_183436,0.753455,0.614686,0.301445,0.418607,0.175232
GLM_grid_1_AutoML_20190421_183436_model_1,0.751699,0.503103,0.2955,0.413658,0.171113
GBM_grid_1_AutoML_20190421_183436_model_6,0.750533,0.520703,0.283395,0.422324,0.178357
GBM_grid_1_AutoML_20190421_183436_model_4,0.750166,0.514523,0.300071,0.417498,0.174304
GBM_5_AutoML_20190421_183436,0.747049,0.514436,0.293622,0.41655,0.173514
GBM_grid_1_AutoML_20190421_183436_model_7,0.747042,0.513942,0.292945,0.417657,0.174437
GBM_3_AutoML_20190421_183436,0.745934,0.527982,0.313839,0.422391,0.178414
GBM_grid_1_AutoML_20190421_183436_model_11,0.741435,0.695797,0.304943,0.46245,0.21386
GBM_grid_1_AutoML_20190421_183436_model_17,0.739089,0.538543,0.308067,0.429193,0.184207
GBM_2_AutoML_20190421_183436,0.735534,0.53361,0.29961,0.427859,0.183063

In [27]:
aml4_leaderboard_df=aml4.leaderboard.as_data_frame()
aml4_leaderboard_df

,model_id,auc,logloss,mean_per_class_error,rmse,mse
0,XRT_1_AutoML_20190421_183436,0.753455,0.614686,0.301445,0.418607,0.175232
1,GLM_grid_1_AutoML_20190421_183436_model_1,0.751699,0.503103,0.295500,0.413658,0.171113
2,GBM_grid_1_AutoML_20190421_183436_model_6,0.750533,0.520703,0.283395,0.422324,0.178357
3,GBM_grid_1_AutoML_20190421_183436_model_4,0.750166,0.514523,0.300071,0.417498,0.174304
4,GBM_5_AutoML_20190421_183436,0.747049,0.514436,0.293622,0.416550,0.173514
5,GBM_grid_1_AutoML_20190421_183436_model_7,0.747042,0.513942,0.292945,0.417657,0.174437
6,GBM_3_AutoML_20190421_183436,0.745934,0.527982,0.313839,0.422391,0.178414
7,GBM_grid_1_AutoML_20190421_183436_model_11,0.741435,0.695797,0.304943,0.462450,0.213860
8,GBM_grid_1_AutoML_20190421_183436_model_17,0.739089,0.538543,0.308067,0.429193,0.184207
9,GBM_2_AutoML_20190421_183436,0.735534,0.533610,0.299610,0.427859,0.183063
10,GBM_grid_1_AutoML_20190421_183436_model_8,0.734684,0.569411,0.313400,0.438676,0.192437
11,GBM_4_AutoML_20190421_183436,0.733994,0.535233,0.321072,0.427257,0.182548
12,GBM_1_AutoML_20190421_183436,0.730935,0.542876,0.313529,0.430348,0.185199
13,GBM_grid_1_AutoML_20190421_183436_model_16,0.729495,0.565209,0.308484,0.436798,0.190793
14,GBM_grid_1_AutoML_20190421_183436_model_12,0.728855,0.528859,0.308002,0.423894,0.179686
15,GBM_grid_1_AutoML_20190421_183436_model_9,0.728581,0.570458,0.300071,0.439247,0.192938
16,GBM_grid_1_AutoML_20190421_183436_model_5,0.727934,0.882971,0.319496,0.484841,0.235071
17,DRF_1_AutoML_20190421_183436,0.727818,0.697686,0.318646,0.429922,0.184833
18,GBM_grid_1_AutoML_20190421_183436_model_2,0.726580,0.527807,0.307915,0.423431,0.179294
19,GBM_grid_1_AutoML_20190421_183436_model_3,0.723745,0.570066,0.323476,0.439053,0.192768
20,GBM_grid_1_AutoML_20190421_183436_model_14,0.717411,0.570872,0.313774,0.439364,0.193041
21,GBM_grid_1_AutoML_20190421_183436_model_13,0.713446,1.057569,0.339295,0.491603,0.241673
22,GBM_grid_1_AutoML_20190421_183436_model_1,0.698497,0.585272,0.334530,0.445920,0.198844
23,GBM_grid_1_AutoML_20190421_183436_model_15,0.654904,0.594923,0.373604,0.450288,0.202760
24,GBM_grid_1_AutoML_20190421_183436_model_10,0.638624,0.595434,0.383809,0.450519,0.202967

In [28]:
length = len(aml4_leaderboard_df)
length
meta_data["models_generated"] = length

In [29]:
# save leaderboard
leaderboard_stats=run_id+ '1000sec'+ '_leaderboard.csv'
aml4_leaderboard_df.to_csv(leaderboard_stats)

In [30]:
aml4_leaderboard_df=aml4.leaderboard.as_data_frame()
model4_set=aml4_leaderboard_df['model_id']
model4_set

0                   XRT_1_AutoML_20190421_183436
1      GLM_grid_1_AutoML_20190421_183436_model_1
2      GBM_grid_1_AutoML_20190421_183436_model_6
3      GBM_grid_1_AutoML_20190421_183436_model_4
4                   GBM_5_AutoML_20190421_183436
5      GBM_grid_1_AutoML_20190421_183436_model_7
6                   GBM_3_AutoML_20190421_183436
7     GBM_grid_1_AutoML_20190421_183436_model_11
8     GBM_grid_1_AutoML_20190421_183436_model_17
9                   GBM_2_AutoML_20190421_183436
10     GBM_grid_1_AutoML_20190421_183436_model_8
11                  GBM_4_AutoML_20190421_183436
12                  GBM_1_AutoML_20190421_183436
13    GBM_grid_1_AutoML_20190421_183436_model_16
14    GBM_grid_1_AutoML_20190421_183436_model_12
15     GBM_grid_1_AutoML_20190421_183436_model_9
16     GBM_grid_1_AutoML_20190421_183436_model_5
17                  DRF_1_AutoML_20190421_183436
18     GBM_grid_1_AutoML_20190421_183436_model_2
19     GBM_grid_1_AutoML_20190421_183436_model_3
20    GBM_grid_1_AutoML_20190421_183436_model_14
21    GBM_grid_1_AutoML_20190421_183436_model_13
22     GBM_grid_1_AutoML_20190421_183436_model_1
23    GBM_grid_1_AutoML_20190421_183436_model_15
24    GBM_grid_1_AutoML_20190421_183436_model_10
Name: model_id, dtype: object

In [31]:
count = 0;
for i in model4_set:
    count = count+1;
for i in range(0,count):
    mod_best=h2o.get_model(model4_set[i])
    parameters = mod_best.params
    n= str((model4_set[i]))+'__1000'
    dict_to_json(parameters,n)

In [32]:
# Update and save meta data
n=run_id+'_meta_data.json'
dict_to_json(meta_data,n)

In [33]:
meta_data

{'start_time': 1555886064.3386967,
 'target': 'Dataset',
 'server_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records',
 'data_path': None,
 'test_path': None,
 'max_models': None,
 'run_time': 1000,
 'run_id': 'uh5qmPqcn',
 'scale': False,
 'classification': True,
 'model_path': None,
 'balance': False,
 'balance_threshold': 0.2,
 'project': None,
 'end_time': 1555886117.0395787,
 'execution_time': 52.70088195800781,
 'run_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records\\uh5qmPqcn',
 'nthreads': 1,
 'min_mem_size': 0,
 'analysis': 0,
 'X': ['Age',
  'Gender',
  'Total_Bilirubin',
  'Direct_Bilirubin',
  'Alkaline_Phosphotase',
  'Alamine_Aminotransferase',
  'Aspartate_Aminotransferase',
  'Total_Protiens',
  'Albumin',
  'Albumin_and_Globulin_Ratio'],
 'models_generated': 25}