In [1]:
%matplotlib inline
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from scipy import stats
import seaborn as sns
import random, os, sys
from datetime import datetime
import time

In [2]:
# Loading the data set using pandas
df=pd.read_csv("indian_liver_patient.csv", sep=',')

In [3]:
df.head()

,Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
0,65,Female,0.7,0.1,187,16,18,6.8,3.3,0.90,1
1,62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
2,62,Male,7.3,4.1,490,60,68,7.0,3.3,0.89,1
3,58,Male,1.0,0.4,182,14,20,6.8,3.4,1.00,1
4,72,Male,3.9,2.0,195,27,59,7.3,2.4,0.40,1

In [4]:
df.describe()

,Age,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
count,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,583.000000,579.000000,583.000000
mean,44.746141,3.298799,1.486106,290.576329,80.713551,109.910806,6.483190,3.141852,0.947064,1.286449
std,16.189833,6.209522,2.808498,242.937989,182.620356,288.918529,1.085451,0.795519,0.319592,0.452490
min,4.000000,0.400000,0.100000,63.000000,10.000000,10.000000,2.700000,0.900000,0.300000,1.000000
25%,33.000000,0.800000,0.200000,175.500000,23.000000,25.000000,5.800000,2.600000,0.700000,1.000000
50%,45.000000,1.000000,0.300000,208.000000,35.000000,42.000000,6.600000,3.100000,0.930000,1.000000
75%,58.000000,2.600000,1.300000,298.000000,60.500000,87.000000,7.200000,3.800000,1.100000,2.000000
max,90.000000,75.000000,19.700000,2110.000000,2000.000000,4929.000000,9.600000,5.500000,2.800000,2.000000

In [5]:
df.shape

(583, 11)

In [6]:
#To check the data types
df.dtypes

Age                             int64
Gender                         object
Total_Bilirubin               float64
Direct_Bilirubin              float64
Alkaline_Phosphotase            int64
Alamine_Aminotransferase        int64
Aspartate_Aminotransferase      int64
Total_Protiens                float64
Albumin                       float64
Albumin_and_Globulin_Ratio    float64
Dataset                         int64
dtype: object

In [7]:
#To show the total NULL Values present in the NULL Valued fields
df.isnull().sum()

Age                           0
Gender                        0
Total_Bilirubin               0
Direct_Bilirubin              0
Alkaline_Phosphotase          0
Alamine_Aminotransferase      0
Aspartate_Aminotransferase    0
Total_Protiens                0
Albumin                       0
Albumin_and_Globulin_Ratio    4
Dataset                       0
dtype: int64

In [8]:
fill = df['Albumin_and_Globulin_Ratio']
Albumin_and_Globulin_Ratio = fill.fillna(fill.median(),inplace=True)

# H2O

In [9]:
import h2o
from h2o.automl import H2OAutoML
import random, os, sys
from datetime import datetime
import pandas as pd
import logging
import csv
import optparse
import time
import json
from distutils.util import strtobool
import psutil

import warnings
warnings.filterwarnings('ignore')

In [10]:
port_no=random.randint(5555,55555)
h2o.init(strict_version_check=False,min_mem_size_GB=5,port=port_no)

Checking whether there is an H2O instance running at http://localhost:22797 ..... not found.
Attempting to start a local H2O server...
; Java HotSpot(TM) 64-Bit Server VM (build 25.201-b09, mixed mode)
  Starting server from C:\Users\Manvi\Anaconda3\lib\site-packages\h2o\backend\bin\h2o.jar
  Ice root: C:\Users\Manvi\AppData\Local\Temp\tmptef1kci1
  JVM stdout: C:\Users\Manvi\AppData\Local\Temp\tmptef1kci1\h2o_Manvi_started_from_python.out
  JVM stderr: C:\Users\Manvi\AppData\Local\Temp\tmptef1kci1\h2o_Manvi_started_from_python.err
  Server is running at http://127.0.0.1:22797
Connecting to H2O server at http://127.0.0.1:22797 ... successful.

--------------------------  ------------------------------------------
H2O cluster uptime:         02 secs
H2O cluster timezone:       America/New_York
H2O data parsing timezone:  UTC
H2O cluster version:        3.24.0.1
H2O cluster version age:    20 days
H2O cluster name:           H2O_from_python_Manvi_ez7oqw
H2O cluster total nodes:    1
H2O cluster free memory:    4.792 Gb
H2O cluster total cores:    8
H2O cluster allowed cores:  8
H2O cluster status:         accepting new members, healthy
H2O connection url:         http://127.0.0.1:22797
H2O connection proxy:
H2O internal security:      False
H2O API Extensions:         Amazon S3, Algos, AutoML, Core V3, Core V4
Python version:             3.6.7 final
--------------------------  ------------------------------------------

In [11]:
#importing data to the server
df = h2o.import_file(path="indian_liver_patient.csv")

Parse progress: |█████████████████████████████████████████████████████████| 100%

In [12]:
df.head()

Age,Gender,Total_Bilirubin,Direct_Bilirubin,Alkaline_Phosphotase,Alamine_Aminotransferase,Aspartate_Aminotransferase,Total_Protiens,Albumin,Albumin_and_Globulin_Ratio,Dataset
65,Female,0.7,0.1,187,16,18,6.8,3.3,0.9,1
62,Male,10.9,5.5,699,64,100,7.5,3.2,0.74,1
62,Male,7.3,4.1,490,60,68,7,3.3,0.89,1
58,Male,1,0.4,182,14,20,6.8,3.4,1,1
72,Male,3.9,2,195,27,59,7.3,2.4,0.4,1
46,Male,1.8,0.7,208,19,14,7.6,4.4,1.3,1
26,Female,0.9,0.2,154,16,12,7,3.5,1,1
29,Female,0.9,0.3,202,14,11,6.7,3.6,1.1,1
17,Male,0.9,0.3,202,22,19,7.4,4.1,1.2,2
55,Male,0.7,0.2,290,53,58,6.8,3.4,1,1

In [13]:
df.isna()

isNA(Age),isNA(Gender),isNA(Total_Bilirubin),isNA(Direct_Bilirubin),isNA(Alkaline_Phosphotase),isNA(Alamine_Aminotransferase),isNA(Aspartate_Aminotransferase),isNA(Total_Protiens),isNA(Albumin),isNA(Albumin_and_Globulin_Ratio),isNA(Dataset)
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0
0,0,0,0,0,0,0,0,0,0,0

In [14]:
target = 'Dataset'
run_time=800
pct_memory=0.5
server_path=None 
data_path=None
all_variables=None
test_path=None
model_path=None
nthreads=1 
name=None 
virtual_memory=psutil.virtual_memory()
min_mem_size=int(round(int(pct_memory*virtual_memory.available)/1073741824,0))
run_id='SOME_ID_20180617_221529' # Just some arbitrary ID
classification=True
scale=False
max_models=None
balance_y=False # balance_classes=balance_y
balance_threshold=0.2
project ="automl_test"
analysis=0

In [15]:
def alphabet(n):
  alpha='0123456789abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ'    
  str=''
  r=len(alpha)-1   
  while len(str)<n:
    i=random.randint(0,r)
    str+=alpha[i]   
  return str


def set_meta_data(analysis,run_id,server,data,test,model_path,target,run_time,classification,scale,model,balance,balance_threshold,name,path,nthreads,min_mem_size):
  m_data={}
  m_data['start_time'] = time.time()
  m_data['target']=target
  m_data['server_path']=server
  m_data['data_path']=data 
  m_data['test_path']=test
  m_data['max_models']=model
  m_data['run_time']=run_time
  m_data['run_id'] =run_id
  m_data['scale']=scale
  m_data['classification']=classification
  m_data['scale']=False
  m_data['model_path']=model_path
  m_data['balance']=balance
  m_data['balance_threshold']=balance_threshold
  m_data['project'] =name
  m_data['end_time'] = time.time()
  m_data['execution_time'] = 0.0
  m_data['run_path'] =path
  m_data['nthreads'] = nthreads
  m_data['min_mem_size'] = min_mem_size
  m_data['analysis'] = analysis
  return m_data


def automl(maxruntime,X,Y,df):
    aml = H2OAutoML(max_runtime_secs=maxruntime,exclude_algos = ['DeepLearning', 'StackedEnsemble'])
    aml.train(x=X,y=y,training_frame=df)
    return aml


def dict_to_json(dct,n):  
    j = json.dumps(dct, indent=4)
    f = open(n, 'w')
    print(j, file=f)
    f.close()

In [16]:
run_id=alphabet(9)
if server_path==None:
  server_path=os.path.abspath(os.curdir)
os.chdir(server_path) 
run_dir = os.path.join(server_path,run_id)
os.mkdir(run_dir)
os.chdir(run_dir)    

# run_id to std out
print (run_id)

douhJzEiy

In [17]:
# meta data
meta_data = set_meta_data(analysis, run_id,server_path,data_path,test_path,model_path,target,run_time,classification,scale,max_models,balance_y,balance_threshold,name,run_dir,nthreads,min_mem_size)
print(meta_data)

{'start_time': 1555885108.7828872, 'target': 'Dataset', 'server_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records', 'data_path': None, 'test_path': None, 'max_models': None, 'run_time': 800, 'run_id': 'douhJzEiy', 'scale': False, 'classification': True, 'model_path': None, 'balance': False, 'balance_threshold': 0.2, 'project': None, 'end_time': 1555885108.7828872, 'execution_time': 0.0, 'run_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records\\douhJzEiy', 'nthreads': 1, 'min_mem_size': 1, 'analysis': 0}

In [18]:
y = target
X=[name for name in df.columns if name != y]
print(X)
print(y)

['Age', 'Gender', 'Total_Bilirubin', 'Direct_Bilirubin', 'Alkaline_Phosphotase', 'Alamine_Aminotransferase', 'Aspartate_Aminotransferase', 'Total_Protiens', 'Albumin', 'Albumin_and_Globulin_Ratio']
Dataset

In [19]:
meta_data['X']=X  
model_start_time = time.time()

In [20]:
if analysis == 3:
  classification=False
elif analysis == 2:
  classification=True
elif analysis == 1:
  classification=True

In [21]:
if classification:
    df[y] = df[y].asfactor()

In [22]:
classification=True
if classification:
    print(df[y].levels())

[['1', '2']]

# Runtime: 800sec

In [23]:
aml3 = automl(800,X,y,df)

AutoML progress: |████████████████████████████████████████████████████████| 100%

In [24]:
meta_data['run_time'] = 800
meta_data['end_time'] = time.time()
meta_data['execution_time'] = meta_data['end_time'] - meta_data['start_time']

In [25]:
aml3.leaderboard

model_id,auc,logloss,mean_per_class_error,rmse,mse
GBM_grid_1_AutoML_20190421_181829_model_6,0.752346,0.566122,0.292967,0.437232,0.191172
GLM_grid_1_AutoML_20190421_181829_model_1,0.751699,0.503103,0.2955,0.413658,0.171113
GBM_grid_1_AutoML_20190421_181829_model_3,0.751238,0.513795,0.293032,0.41817,0.174866
GBM_grid_1_AutoML_20190421_181829_model_7,0.749475,0.513366,0.286849,0.415858,0.172938
GBM_grid_1_AutoML_20190421_181829_model_5,0.748114,0.512154,0.294147,0.416569,0.17353
GBM_2_AutoML_20190421_181829,0.747359,0.523984,0.300135,0.422322,0.178356
GBM_grid_1_AutoML_20190421_181829_model_11,0.746473,0.51362,0.297796,0.41694,0.173839
XRT_1_AutoML_20190421_181829,0.746473,0.573555,0.30739,0.421716,0.177844
GBM_1_AutoML_20190421_181829,0.744638,0.528884,0.313947,0.420123,0.176503
GBM_5_AutoML_20190421_181829,0.744631,0.514775,0.297775,0.416917,0.17382

In [26]:
aml3_leaderboard_df=aml3.leaderboard.as_data_frame()
aml3_leaderboard_df

,model_id,auc,logloss,mean_per_class_error,rmse,mse
0,GBM_grid_1_AutoML_20190421_181829_model_6,0.752346,0.566122,0.292967,0.437232,0.191172
1,GLM_grid_1_AutoML_20190421_181829_model_1,0.751699,0.503103,0.295500,0.413658,0.171113
2,GBM_grid_1_AutoML_20190421_181829_model_3,0.751238,0.513795,0.293032,0.418170,0.174866
3,GBM_grid_1_AutoML_20190421_181829_model_7,0.749475,0.513366,0.286849,0.415858,0.172938
4,GBM_grid_1_AutoML_20190421_181829_model_5,0.748114,0.512154,0.294147,0.416569,0.173530
5,GBM_2_AutoML_20190421_181829,0.747359,0.523984,0.300135,0.422322,0.178356
6,GBM_grid_1_AutoML_20190421_181829_model_11,0.746473,0.513620,0.297796,0.416940,0.173839
7,XRT_1_AutoML_20190421_181829,0.746473,0.573555,0.307390,0.421716,0.177844
8,GBM_1_AutoML_20190421_181829,0.744638,0.528884,0.313947,0.420123,0.176503
9,GBM_5_AutoML_20190421_181829,0.744631,0.514775,0.297775,0.416917,0.173820
10,GBM_grid_1_AutoML_20190421_181829_model_12,0.743566,0.526526,0.298890,0.423267,0.179155
11,GBM_3_AutoML_20190421_181829,0.742256,0.526494,0.312745,0.422932,0.178871
12,GBM_4_AutoML_20190421_181829,0.737808,0.534661,0.306167,0.427084,0.182401
13,GBM_grid_1_AutoML_20190421_181829_model_1,0.733022,0.537909,0.320482,0.428531,0.183639
14,GBM_grid_1_AutoML_20190421_181829_model_2,0.724479,0.581756,0.299761,0.444337,0.197435
15,GBM_grid_1_AutoML_20190421_181829_model_10,0.722521,0.587871,0.310449,0.447095,0.199894
16,GBM_grid_1_AutoML_20190421_181829_model_8,0.720772,0.826406,0.328895,0.461795,0.213254
17,GBM_grid_1_AutoML_20190421_181829_model_4,0.713554,0.554787,0.326009,0.433678,0.188076
18,DRF_1_AutoML_20190421_181829,0.713460,0.704963,0.339381,0.433861,0.188235
19,GBM_grid_1_AutoML_20190421_181829_model_9,0.654091,0.595146,0.374323,0.450389,0.202851

In [27]:
length = len(aml3_leaderboard_df)
length
meta_data["models_generated"] = length

In [28]:
# save leaderboard
leaderboard_stats=run_id+ '800sec'+ '_leaderboard.csv'
aml3_leaderboard_df.to_csv(leaderboard_stats)

In [29]:
aml3_leaderboard_df=aml3.leaderboard.as_data_frame()
model3_set=aml3_leaderboard_df['model_id']
model3_set

0      GBM_grid_1_AutoML_20190421_181829_model_6
1      GLM_grid_1_AutoML_20190421_181829_model_1
2      GBM_grid_1_AutoML_20190421_181829_model_3
3      GBM_grid_1_AutoML_20190421_181829_model_7
4      GBM_grid_1_AutoML_20190421_181829_model_5
5                   GBM_2_AutoML_20190421_181829
6     GBM_grid_1_AutoML_20190421_181829_model_11
7                   XRT_1_AutoML_20190421_181829
8                   GBM_1_AutoML_20190421_181829
9                   GBM_5_AutoML_20190421_181829
10    GBM_grid_1_AutoML_20190421_181829_model_12
11                  GBM_3_AutoML_20190421_181829
12                  GBM_4_AutoML_20190421_181829
13     GBM_grid_1_AutoML_20190421_181829_model_1
14     GBM_grid_1_AutoML_20190421_181829_model_2
15    GBM_grid_1_AutoML_20190421_181829_model_10
16     GBM_grid_1_AutoML_20190421_181829_model_8
17     GBM_grid_1_AutoML_20190421_181829_model_4
18                  DRF_1_AutoML_20190421_181829
19     GBM_grid_1_AutoML_20190421_181829_model_9
Name: model_id, dtype: object

In [31]:
count = 0;
for i in model3_set:
    count = count+1;
for i in range(0,count):
    mod_best=h2o.get_model(model3_set[i])
    parameters = mod_best.params
    n= str((model3_set[i]))+'__800'
    dict_to_json(parameters,n)

In [32]:
# Update and save meta data
n=run_id+'_meta_data.json'
dict_to_json(meta_data,n)

In [33]:
meta_data

{'start_time': 1555885108.7828872,
 'target': 'Dataset',
 'server_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records',
 'data_path': None,
 'test_path': None,
 'max_models': None,
 'run_time': 800,
 'run_id': 'douhJzEiy',
 'scale': False,
 'classification': True,
 'model_path': None,
 'balance': False,
 'balance_threshold': 0.2,
 'project': None,
 'end_time': 1555885122.8703492,
 'execution_time': 14.087461948394775,
 'run_path': 'C:\\Users\\Manvi\\Anaconda3\\indian-liver-patient-records\\douhJzEiy',
 'nthreads': 1,
 'min_mem_size': 1,
 'analysis': 0,
 'X': ['Age',
  'Gender',
  'Total_Bilirubin',
  'Direct_Bilirubin',
  'Alkaline_Phosphotase',
  'Alamine_Aminotransferase',
  'Aspartate_Aminotransferase',
  'Total_Protiens',
  'Albumin',
  'Albumin_and_Globulin_Ratio'],
 'models_generated': 20}